body {
  margin: 0;
  font-family: "Montserrat", "sans-serif";
}
.first-section {
  background: url(../images/Landing-page.jpg) center center no-repeat;
  background-size: cover;
  height: 100vh;
}
.container {
  background-color: white;
  opacity: 66%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
}
.logo {
  display: flex;
  align-items: center;
  font-size: 2.5em;
  font-family: "Beau Rivage", "sans-serif";
  padding-left: 0.5em;
}
.logo > a {
  color: black;
  text-decoration: none;
}
.menu {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  font-size: 1.2em;
}
.subMenu {
  position: absolute;
  min-width: 150px;
  display: none;
  padding: 10px;
  background-color: #fff;
  border-radius: 0 0 5px 5px;
}
.subMenu > li {
  margin-top: 5px;
}
.menu > .dropDownList:hover > .subMenu {
  display: inherit;
}
ul {
  list-style: none;
}
li > a {
  text-decoration: none;
  color: black;
}
li > a:hover {
  color: gold;
}
.info {
  background-color: white;
  opacity: 80%;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 42%;
  left: 4%;
  border-radius: 20px;
  padding: 0.7%;
}
.info > h1 {
  font-size: 1.6em;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0;
}
.info > p {
  font-size: 1.2em;
}
.info > a {
  margin-bottom: 3%;
  font-size: 1.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  border-bottom: 2px gold solid;
  padding-left: 7px;
  padding-right: 7px;
}
.info > a:hover {
  color: gold;
  border-bottom: 2px black solid;
}
.areas {
  width: 75em;
  margin: 0 auto;
  margin-bottom: 10px;
}
.areas > h1 {
  text-align: center;
  font-size: 3em;
  font-weight: 400;
}
.areasGrid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(7, 10em);
  grid-gap: 10px;
}
.grid1 {
  grid-row-start: 1;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 5;
}
.grid1 > img {
  width: 29.625em;
  height: 41.875em;
}
.grid2 {
  grid-column-start: 5;
  grid-column-end: 11;
  grid-row-start: 1;
  grid-row-end: 3;
}
.grid2 > img {
  width: 44.75em;
  height: 20.625em;
}
.grid3 {
  grid-column-start: 5;
  grid-column-end: 11;
  grid-row-start: 3;
  grid-row-end: 5;
}
.grid3 > img {
  width: 44.75em;
  height: 20.625em;
}

.grid4 {
  grid-column-start: 5;
  grid-column-end: 11;
  grid-row-start: 5;
  grid-row-end: 8;
}
.grid4 > img {
  width: 44.75em;
  height: 31.25em;
}
.grid5 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 8;
}
.grid5 > img {
  width: 29.625em;
  height: 31.25em;
}
.areaScale {
  display: inline-block;
  overflow: hidden;
  position: relative;
}
.areaScale > img {
  transition: 1s;
}
.areaScale > img:hover {
  transform: scale(1.2);
}
.areaScale:hover .gridInfo {
  transform: translateY(0);
}
.gridInfo {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: black;
  opacity: 70%;
  transform: translateY(100%);
  transition: 1s;
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gridInfo > h1 {
  font-size: 1.5em;
  font-weight: 400;
  margin-bottom: 0.2em;
}
.gridInfo > p {
  padding: 1em;
  margin-top: 0;
  font-size: 1em;
  font-weight: 300;
}
.gridInfo > a {
  text-decoration: none;
  color: white;
  margin-bottom: 1.2em;
  text-transform: uppercase;
  font-weight: 100;
  padding: 5px;
}
.gridInfo > a:hover {
  color: black;
  background-color: white;
  opacity: 70%;
  border-radius: 10px;
  font-weight: 400;
}

.footContainer {
  background-color: #383636;
  color: #fff;
  font-size: 0.9em;
  font-weight: 100;
  text-align: center;
}
.footContacts {
  display: flex;
  flex-direction: column;
  padding-top: 1em;
}
.footContacts > a {
  color: #fff;
}
.footContainer > span {
  font-size: 0.8em;
}
.footIcons {
  margin-top: 1em;
}
.contacts {
  height: 85vh;
  width: 100vh;
}
.contactsText {
  position: absolute;
  font-size: 2.2em;
  top: 33%;
  left: 38%;
}
.contactsPhone {
  position: absolute;
  font-size: 6em;
  top: 36%;
  left: 30%;
}
.contactsMail {
  position: absolute;
  font-size: 2.2em;
  top: 47%;
  left: 45%;
}
